.table {
    align-items: center;
   
}

.th{
    border: 1px solid black;
}

.td{
    border: 1px solid black;
}


.coordinatorname
{
  position: absolute;
  width: 264.83px;
  height: 16.79px;
  left: 1300px;
  top: 60px;
  background-color: transparent;
  border-color: transparent;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  
  color: #FFFFFF;
}