.paddstudent
{
    position: absolute;
    left:100px;
    top:170px;
    background-color:transparent;
    font-size: medium;
    color: black;
    font-weight: 600;
    font-family: lato;

   
    border-color: transparent;
}

.paddstudent:hover
{
    
   
  font-weight: 700 !important;
    color:#4390bc;
    cursor:pointer;

   
   
}